div h1 {
  text-decoration: underline;
}
#p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 900;
  font-size: x-large;
  color: black;
}
#t {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 900;
  font-size: x-large;
  color: black;
}
#r {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 900;
  font-size: x-large;
  color: black;
}
#btn {
  background-color: coral;
  font-size: x-large;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 900;
  border: black solid 2px;
}
#principle,
#time,
#rate {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  font-size: x-large;
  padding: 5px;
}
#content {
  padding: 70px 0;
  border: 3px solid black;
  text-align: center;
  background-color: cornsilk;
}
#clr {
  background-color: coral;
  font-size: x-large;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 900;
  border: black solid 2px;
}
#btn:hover,#clr:hover{
    border-radius: 100px;
    background-color: yellow;
}
#principle:hover,
#time:hover,
#rate:hover{
    border-color: red;
}
#p:hover,
#t:hover,
#r:hover{
    color : red;
}
